@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
@model IEnumerable<Practica_4_WEB.Entities.Principal>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Consulta</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Código de Compra</th>
                                    <th>Descripción</th>
                                    <th>Precio</th>
                                    <th>Saldo</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id_Compra</td>
                                        <td>@item.Descripcion</td>
                                        <td>@item.Precio</td>
                                        <td>@item.Saldo</td>
                                        <td>@item.Estado</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>